html {
    background: url(img/bg.jpg) no-repeat;
    background-size: 100%
}

fieldset {
    border-radius: 5px;
    height: 20%;
}

span {
    font-family: "DejaVu Sans Mono", monospace;
}

.button {
    width: 80px;
    align-content: center;
}